<div id="<%= dom_id book %>">
  <div>
    <strong>Titulo:</strong>
    <%= book.titulo %>
  </div>

  <div>
    <strong>Autor:</strong>
    <%= book.autor %>
  </div>

  <div>
    <strong>Nota:</strong>
    <%= book.nota %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= book.descricao %>
  </div>

</div>
